* {
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-white100: rgba(255, 255, 255, 0.16);
  --color-white200: rgba(255, 255, 255, 0.2);
  --color-black: #000000;
  --color-gray100: #d1d1d1;
  --color-gray200: rgba(0, 0, 0, 0.25);
  --color-gray300: #b2b2b2;
  --color-gray400: rgba(0, 0, 0, 0.4);
  --color-gray500: #6a6a6a;
  --color-gray600: #28272c;
  --color-red: #ff0000;
  --color-pink: rgba(255, 0, 0, 0.3);
  --font-weight-extraBold: 800;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-light: 300;
  --font-family-main: "Nunito Sans", sans-serif;
  --font-family-secondary: "Open Sans", sans-serif;
}

.container {
  max-width: 1088px;
  margin: 0 auto;
}

.primary_button {
  padding: 22px 55px;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  background: var(--color-red);
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.btn--white {
  background: var(--color-white);
  color: var(--color-red);
}

.section_title {
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-family-main);
  font-size: 35px;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
  display: block;
}

.section_title::before,
.section_title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 3px;
  background: var(--color-red);
  box-shadow: 0px 1px 6px var(--color-pink);
  border-radius: 8px;
}

/* HEADER STYLES */

.header {
  background: var(--color-gray400);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 10px;
}

.header_logo {
  margin: 26px 0;
}

.logo_logotype {
  width: 31px;
  height: 35px;
}

.logo_signature {
  font-size: 35px;
  font-family: var(--font-family-main);
  color: var(--color-white);
  font-weight: var(--font-weight-extraBold);
  text-transform: uppercase;
  display: flex;
  gap: 5px;
}

.logo_signature span {
  color: var(--color-red);
}

.header_nav_list {
  display: flex;
  /* gap: 80px; */
}

.header_nav_list a {
  text-decoration: none;
  color: var(--color-white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  padding: 33px 40px;
}

.header_nav_list a:hover {
  background: var(--color-white200);
}

/* HERO SECTION */

.hero {
  background-image: url(../images/Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  background: var(--color-black);
  height: calc(100vh - 27.5px);
  width: 100%;
  opacity: 0.3;
}

.hero .container {
  display: flex;
  width: 100%;
  height: calc(100vh - 27.5px);
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 1;
}

.hero_title {
  font-size: 90px;
  text-shadow: 0px 3px 6px var(--color-gray200);
  text-transform: uppercase;
  color: var(--color-white);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-extraBold);
}

.hero_text {
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 22px;
}

.hero_buttons {
  display: flex;
  gap: 25px;
}

.hero_buttons .btn--red {
  box-shadow: 0px 3px 6px var(--color-pink);
  font-size: 16px;
}

.hero_buttons .btn--white {
  font-size: 16px;
}

.hero_arrow_down {
  background: var(--color-red);
  box-shadow: 0px 3px 6px var(--color-pink);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* BLOG STYLES */

.blog {
  padding: 90px 0 110px 0;
}

.blog .container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.blog_title::before {
  left: 435px;
}

.blog_title::after {
  right: 435px;
}

.blog_cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 352px;
}

.card_content {
  max-width: 260px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card_title {
  font-size: 19px;
  color: var(--color-gray500);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  margin-top: 10px;
  text-transform: uppercase;
}

.card_text {
  font-size: 14px;
  color: var(--color-gray500);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-light);
  line-height: 19px;
}

.card_content .btn--red {
  padding: 11px 29px;
  font-size: 14px;
  display: block;
}

/* SERVICE STYLES */

.service {
  background: var(--color-gray600);
  padding: 60px 0 110px 0;
}

.service_title {
  color: var(--color-white);
}

.service_title::before {
  left: 410px;
}

.service_title::after {
  right: 410px;
}

.service_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.card_photo_service {
  width: 170px;
  height: 170px;
}

.service_cards .card {
  gap: 15px;
  max-width: 232px;
  text-align: center;
  align-items: center;
}

.service_cards .card .card_content .card_title {
  color: var(--color-white);
}

.service_cards .card .card_content .card_text {
  color: var(--color-gray300);
  font-weight: var(--font-weight-regular);
}

.service_cards .card .card_content {
  display: flex;
  justify-content: center;
}

/* CONTACT STYLES */

.contact {
  padding: 65px 0;
}

.contact_title::before {
  left: 400px;
}

.contact_title::after {
  right: 400px;
}

.contact_content {
  max-width: 905px;
  display: flex;
  gap: 16px;
  margin-top: 35px;
}

.contact_photo_img {
  max-width: 445px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  border: 1px solid var(--color-gray100);
  border-radius: 8px;
  padding: 8px 0 8px 12px;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-gray300);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: 16px;
}

textarea {
  resize: none;
  height: 140px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--color-red);
  box-shadow: 0px 1px 6px var(--color-pink);
}

.accept_regulations {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.regulations {
  font-size: 10px;
  color: var(--color-gray300);
  line-height: 14px;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-light);
}

.accept_regulations input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0;
  height: 0;
}

.accept_regulations span {
  height: 22px;
  flex-shrink: 0;
  flex-basis: 22px;
  border: 1px solid var(--color-gray100);
  cursor: pointer;
  border-radius: 8px;
}

.accept_regulations input:checked + span {
  background-image: url(../images/Icon\ Check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.form_content .btn--white {
  width: 142px;
  border: 1px solid var(--color-red);
  box-shadow: 0px 3px 6px var(--color-pink);
  padding: 11px 0;
  align-self: flex-end;
  margin-top: 10px;
}

/* FOOTER STYLES */

.footer {
  background: var(--color-gray600);
  padding: 40px 0 40px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.logo.footer_logo {
  gap: 7.5px;
}

.footer_logo .logo_logotype {
  width: 16.5px;
  height: 25px;
}

.footer_logo .logo_signature {
  font-size: 25px;
}

.footer_content {
  display: flex;
}

.footer_nav_list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer_nav_list a {
  font-size: 14px;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: none;
}

.footer_nav_list a:hover {
  color: var(--color-red);
}

.nav_column_one,
.nav_column_two {
  flex-grow: 1;
}

.footer_copyright {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 2;
  font-size: 12px;
  color: var(--color-gray100);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-light);
}
